/*icon mods*/
@import './font-awsome/fontawesome-all.css';
@import './kloader.css';
.divider{
  display: block;
  height: 5px;
  background-color: #fff;
}
#facebook {
  background-color: #3b5998;
  color: #fff;
}
#google {
  background-color: #dd4b39;
  color: #fff;
}
.notification {
  height: 5px;
  width: 5px;
  position: absolute;
  right: 0;
  top: 0
}
/*app style*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h3, h4, h5, .page-header-small {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
li{
  list-style: none;
}
.icon{
  display: inline-block;
  cursor: pointer;
}
.medium-icon, .medium-icon::before{
  font-size: 15px;
}
.icon:hover::before{
  color: #fdd806;
}
.main{
  display: block;
  align-items: center;
  text-align: center;
}
.main>div>div {
  display: inline-block;
}

.form {
  margin: 0 50px;
}
.App{
  box-sizing: border-box;
  display: inline-block;
  background-color: #f0f0f0;
  background-image: url('./images/kilembe-school.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50px 20px;
  margin: 10% 0;
  padding: 100px 0 50px 0;
  border-radius: 5px;
  width: 350px;
}
.App span, .span {
  display: block;
  padding: 2px 5px;
  text-align: left;
  box-sizing: border-box;
}
.App input{
  width: 250px;
  padding: 2px 2px;
  box-sizing: border-box;
  border: thin solid #bdbbbb;
  border-radius: 3px;
}
.App button {
  width:250px;
  padding: 4px 2px;
  box-sizing: border-box;
  border: thin solid #bdbbbb;
  border-radius: 3px;
  box-shadow: 0 0 0;
  cursor: pointer;
}
.link{
  font-size: 13px;
  color: #0d51da;
  font-weight: bold;
  cursor: pointer;
}
.header{
  background-image: url('images/kilembe-school.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height:150px;
}
.feedBack{
  font-size: 13px;
  color: #ece3e2;
  background-color: #494141;
  margin: 2px 5px;
  width: 250px;
  height: auto;
}
.hidden{
  display: none!important;
}
.shown{
  display: block!important;
}
.Home{
  width: 100%;
  display: inline-block;
  text-align: center;
  overflow-x: hidden;
}
.container{
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  width: 70%;
  text-align: left;
}
.avContainer{
  display: inline-block;
}
.nav.logged-out{
  float: none;
}
.nav.logged-out::after{
  clear: both;
  content: " ";
  display: block;
}
.nav .icon{
  float: left;
  padding: 5px 10px;
  margin: auto 0;
}
.icon-home::before{
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
}
.icon-home:hover::before{
  color: #eef7a3;
}
.Home .mainNav {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: #494141;
  padding: 5px 20px;
}

.mainNav .link, #menu {
  color: #1f1f1f;
  font-size: 13px;
}
.mainNav a {
  font-size: 13px;
  color: #000;
  padding: 2px 0;
  text-decoration: none;
  cursor: pointer;
}
.mainNav .menu {
  font-size: 20px;
  cursor: pointer;
}
.visible {
  opacity: 1!important;
  display: block!important;
  overflow: hidden!important;
  padding: 5px!important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#arr {
  opacity: 0;
  background-position: top left;
  padding-top: 10px;
  background-image: url('./images/arrow.png');
  background-repeat: no-repeat;
}
.nav{
  padding: 0 10px;
  position: absolute;
  top:20px;
  right: 0;
  z-index: 10000;
}
.icon-menu::before{
  font-size: 20px;
  padding: 5px 0;
}
.mainNav .icon-menu ul {
  opacity: 0;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
  width: 100px;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
  right:0;
  top:25px;
}
.mainNav .icon-menu ul li {
  display: block;
  text-align: left;
  padding: 2px 0 2px 0; 
  list-style-position:inside;
}
.mainNav .icon-menu ul li:first-child { 
  border-bottom: thin solid #bdbbbb;
}
.icon-settings::before, .icon-logout::before{
  margin-left: 2px;
  margin-right: 10px;
}
.mainNav .logout, #settings {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
}
.mainNav .small {
  font-size: 11px;
}
.settings {
  border: thin solid #bdbbbb;
}
.settings input[type="text"]{
  color: #3a3a3a;
}
.settings .info{
  float: left;
  color: #282828;
}
.clear{
  content: " ";
  clear: both;
}
.save{
  padding: 2px 0;
  margin-top: 10px;
  position: relative;
}
.settings input{
  background-color: #f9e366;
  border: thin solid #bdbbbb;
  border-radius: 3px;
}
.Home .settingT {
  font-size: 14px;
  display: block;
  background-color: #43423c;
  color: #fff;
  padding: 2px 5px;
}
.Home .settingD {
  font-size: 13px;
  display: block;
  background-color: #fdd806;
  padding: 2px 5px;
}
.Home .settingD::after{
  clear: both;
  content: "";
  display: block;
}
.Home .settingD input[type="text"] {
  width: 300px;
  padding: 2px;
}
.Home .settingD input[type="checkbox"]{
  float: left;
}
#about{
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
}
#welcome{
  font-size: 13px;
  font-weight: bold;
  float: left;
  margin: 14% 0;
}
.avator{
  width: 30px;
  padding: 10px;
  cursor: pointer;
  float: left;
}
#avator{
  position: relative;
  width: 100%;
  height: auto;
}
.membersAv{
  width: 30px;
  max-height: 40px;
  min-height: 30px;
  cursor: pointer;
  float: left;
}
.membersAv-small{
  width: 20px;
  max-height: 23px;
  min-height: 20px;
  cursor: pointer;
  float: left;
} 
.members{
  position: relative;
  width: 100%;
  height: auto;
}
#level {
  position: absolute;
  background: #fff;
  color: #3b5998;
  display: block;
  left: 10px;
  font-size: 13px;
  padding: 5px;
  font-weight: bold;
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.roundPic {
  width: 30px;
  height: 30px;
  border: thin solid #c9c9c9;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.roundPic-users {
  width: 20px;
  height: 20px;
  border: thin solid #c9c9c9;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.left-col{
  position: relative;
}
.left-col::after{
  contain: "";
  clear: both;
}
.content{
  font-size: 13px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 5px 30px 20px;
  margin: 2px;
}
.content .group{
  float:left;
  width: 25%;
}
.content header {
  display: block;
  width: 50%;
  float: left;
  color: #43423c;
  font-weight: bold;
  cursor: pointer;
}
.content .bod {
  min-width: 50%;
  float: left;
  color: #43423c;
  cursor: pointer;
}
.content .urls{
  display: block;
  padding: 2px 2px 2px 5px;
  margin: 1px;
  background-color: #fdd806;
  border: thin solid #bec1c6;
  color: #43423c;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
}
.content .urls:hover{
  background-color: #caf8ca;
}
.content .course {
  display: block;
  padding: 5px;
  background-color: #494141;
  border: thin solid #555050;
  color: #fff;
  margin: 2px 0;
}
.content .tutorial{
  min-width: 50%;
  overflow: hidden;
  float: left;
  padding: 5px 5px 20px 5px;
  margin: 0 0 0 15px;
  width: 50%;
  height: 315px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}
.content .youtube {
  box-sizing: content-box;
  width: 100%;
  height: 100%; 
}
.swagg{
  margin: 50px 0;
  font-size: 13px;
  background-color: #201d46;
  color: #fff;
  border: thin solid #bdbbbb;
  padding: 10px 10px;
}
.swagg a {
  color: #89a8eb;
  text-decoration: none;
}
.paypal{
  position: absolute;
  bottom: 52px;
  right: 5px;
}
.playlist{
  box-sizing: content-box;
  width:18%;
  float: left;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  padding: 5px;
}
.playlist .item {
  clear: both;
  position: relative;
  background-color: #000000;
  color: #fff;
  padding: 5px;
  border-bottom: thin solid #fff;
}
.playlist .text{
  float: left;
  padding: 2px;
  width: 85%;
}
.playlist .ex{
  display: table-cell;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  vertical-align: middle;
  float: right;
  padding: 2px;
  cursor: pointer;
}
.icon-x-circle::before {
  font-size: 17px;
}
.sub-container{
  padding: 10px 0;
  text-align: center;
}
.pfriends{
    font-size: 13px;
    font-weight: bold;
    margin: 5% 10px;
}
.messaging{
  display: flex;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.friends{
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
}
#friends-list{
  min-width: 200px;
  flex: 2
}
#conversation-container{
  padding: 10px;
  display: block;
  flex: 7
}
#messaging-call-to-action{
  display: block;
  color: #bbbbbb;
  text-align: center;
}
.friend{
  box-sizing: border-box;
  padding: 5px;
  display: block;
  margin: 5px 0;
  z-index: 10000;
}
.friend:hover{
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.friend .name{
  text-transform: capitalize;
  display: inline-block;
  align-items: center;
  align-content: center;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}
.friend .membersAv{
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: left;
}
.people{
  text-align: left;
  box-sizing: content-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative;
  display: inline-block;
  min-width: 200px;
  min-height: 40px;
  max-height: 45px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  z-index: 1000;
}
.people:hover{
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}
.people>div{
  display: inline-block;
}
.nav-button-container{
  box-sizing: border-box;
  background: #fdd806;
  padding: 0 5px 0 0;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.nav-button{
  position: relative;
  display: inline-block;
  min-height: 15px;
  min-width: 50px;
  margin:0;
  text-align: center;
}
.ficon::before{
  color: #fff;
  background: #494141;
  position: relative;
  display: inline-block;
  min-height: 15px;
  padding: 5px;
  vertical-align: middle;
  text-align: left;
}
.ficon{
  position: relative;
  box-sizing: border-box;
  margin: 2px 0;
}
.currUserDits{
  margin: 5px 0;
  padding: 20px 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.currUserDits #right{
  float: left;
  margin: 10px 0 auto 20px;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.currUserDits #center{
  float: left;
  margin: 5px 0 auto 20px;
  padding: 5px;
}
.currUserDits #left{
  float: left;
}
.currUserDits .roundPic{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.currUserDits .membersAv{
  width: 100px;
  max-height: 130px;
  min-height: 100px;
  cursor: pointer;
  float: left;
}
.currUserDits .ficon{
  display: block;
  text-transform: capitalize;
}
.currUserDits .ficon span{
  display: inline-block;
  margin: 0 2px;
}
.currUserDits::after{
  clear: both;
  content: "";
  display: block;
}
.alert{
  position: absolute;
  margin: -5px 0 0 -6px;
  color: #fdd806;
  font-size: 10px;
  z-index: 10000;
}
.alert-main{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fdd806;
  font-size: 17px;
  z-index: 10000;
}
.alert-main::before{
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.alert-main:hover::before{
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.online{
  position: absolute;
  margin: 0 0 0 -8px;
  color: #0ed43f;
  font-size: 8px;
  z-index: 10000;
}
.offline{
  position: absolute;
  margin: 0 0 0 -8px;
  color: #a5a5a5;
  font-size: 8px;
  z-index: 10000;
}
.respondB{
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background: #fdd806;
  padding: 5px;
  width: 42%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.respondB:first-child{
  left: 21px;
}
.respondB:last-child{
  right: -1px;
}
#devName {
  padding: 0px 5px;
}
@media only screen and (max-width: 900px){
  .playlist{
    display: none;
  }
  .friends{
    width: 35%;

  }
  .content .tutorial{
    box-sizing: border-box;
    min-width: 50%;
    overflow: hidden;
    float: left;
    padding: 5px 5px 10px 5px;
    margin: 0 0 0 15px;
    width: 70%;
    height: auto;
    background-color: #fff;
  }
}
@media only screen and (max-width: 712px){
  .content .tutorial{
    box-sizing: border-box;
    min-width: 90%;
    overflow: hidden;
    float: left;
    padding: 5px 5px 10px 5px;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  .content div{
    box-sizing: border-box;
    position: relative;
  }
  .group{
    box-sizing: border-box;
    float: left;
    padding: 0;
    min-width: 90%;
    width: 100%!important;
  }
  .content .youtube {
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
  }
  .pfriends{
    min-width: 70%;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 5% 5px;
  }
  .alert-main{
    top: -10px;
    right: -5px;
  } 
}
@media only screen and (max-width: 550px){
  .currUserDits #center{
    float: left;
    margin: 5px 0 auto 5px;
    padding: 5px;
  }
  .Home .settingD input[type="text"] {
    max-width: 300px;
    width: 98%;
    padding: 2px;
  }
}
@media only screen and (max-width: 455px){
  #devLink{
    width: 100%;
    color: #000000;
    position: absolute;
    bottom: 0;
    left: 5%;
  }
  #devLink::before{
    content: "Developed By "
  }
  #welcome{
    display: none;
  }
}